

<body>
<div class="wrapper">
                <h1>Dear Customer <span>THANK YOU</span> for your order !</h1>
</div>
<img src="/assets/galleryimages/GreenTickSign.jpg" alt="Thank You" style="width:304px;height:228px">
</body>
 