
<body>


<div id="header">


<h1>Our Gallery </h1>
</div>




<div id="section">
    <div id="abouth">
<h1>Our Gallery helps promote young Ireland-based artists </h1>
</div> 
<p>
The works desplayed in our gallery are a sophisticated collection of photography and graphics of various themes, such as nature, portraiture and abstract.
</p>
<p>
Based in Dublin, our Gallery makes the access to art convenient and easily available online. Our delivery system specifies few options,
incuding an Express delivery for faster shopping experience. 
</p>
</div>



</body>