<div id="form-container">
<form class="navbar-form navbar-left" role="search">
	<div class="form-group">
	<div class="required">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" class="form-control form-inputs" placeholder="First Name">
    </div>
        <div class="required">
				<label for="lname">Last Name:</label>
				<input type="text" id="lname" name="lname" class="form-control form-inputs" placeholder="Last Name">
		</div>
    <div class="required">
        <label for="email">Your E-mail address: </label>
        <input type="text" id="email" name="email" class="form-control form-inputs" placeholder="Your E-mail address:">
    </div>
     <div class="required">
        <label for="email">Confirm E-mail address:</label>
        <input type="text" id="email" name="email" class="form-control form-inputs" placeholder="Confirm E-mail address:">
    </div>
    <div class="required">
        <label for="phone">Phone number:</label>
        <input type="text" id="phone" name="phone" class="form-control form-inputs" placeholder="Phone number:">
    </div>
     <div class="required">
        <label for="order">Order number:</label>
        <input type="text" id="order" name="order" class="form-control form-inputs" placeholder="Order number:">
    </div>

    <div class="required">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" class="form-control form-inputs" placeholder="Subject">
    </div>

    <div class="required">
        <label for="query">Your Query:</label>
        <textarea id="query" name="query" class="form-control form-inputs" placeholder="Your message here." rows="5"></textarea>
	</div>

<input type="button" value="Submit" class="btn btn-default"/>
</form>
</div>
</div>
